@charset "utf-8";

@media (max-width:1024px) {
    .header {
        width: 800px;
    }

    .main-visual {
        width: 800px;
    }

    .main-image {
        width: 800px;
        margin-left: -30px;
    }
}

@media (max-width:670px) {


    .header-left {
        display: none;
    }

    .header-right {
        float: none;
        text-align: center;
    }

    .footer {
        margin-left: 200px;
    }

}