@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.header {
    height: 150px;
    width: 100%;
    box-shadow: 0 0 10px #dddddd;
    background-color: white;
    position: fixed;
    top: 0px;

}


.header-left {
    float: left;
}

.header-right {
    float: right;
}


.clear {
    clear: both;
}

.header-logo {
    height: 100px;
    margin-top: 30px;

}

.header-right a {
    line-height: 150px;
    color: black;
    margin-left: 15px;
    font-size: 25px;
}

.header-right a:hover {
    background-color: beige;
    padding: 30px 10px;
}

.container {
    max-width: 980px;
    padding: 0 30px;
    margin-left: auto;
    margin-right: auto;
}

/*ヘッダー終了*/

.main-visual {
    padding-top: 250px;
    padding-bottom: 150px;
    background-color: white;
}

.top-title {
    font-size: 54px;
    text-decoration: underline;
}

.top-subtitle1 {
    font-size: 32px;
    margin-top: 50px;
    margin-left: 20px;
}

.top-subtitle2 {
    font-size: 32px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: -10px;
}

.top-subtitle3 {
    font-size: 32px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: -10px;
}

.top-subtitle4 {
    font-size: 32px;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: -10px;
}

.main-shape {
    width: 200px;

}

.webサイト-text {
    font-size: 25px;
}

.banner-text {
    font-size: 25px;
    margin-top: 20px;
}

.Writer-text {
    font-size: 25px;
    margin-top: 20px;
}

.Movie-text {
    font-size: 25px;
    margin-top: 20px;
}

.kuma-shape {
    height: 300px;
    float: right;
    margin-right: -120px;
}

/*メインビジュアル終了*/
.footer {
    height: 150px;
    width: 100%;
    margin-left: 300px;
    margin-top: 150px;
}